<!DOCTYPE html>
<html>
<head>
  <title>Beautiful Student Form</title>
 <link rel="stylesheet" href="/css/studentEdit.css">
</head>
<body>
  <div class="form-container">
    <div class="form-header">
      <h2 class="form-title">Student Form</h2>
    </div>
    <form method="post" action="<%=result.id%>">
      <div class="form-group">
        <label for="name" class="form-label" >Name</label>
        <input type="text" id="name" value='<%= result.name %>' name="name" class="form-input" placeholder="Enter the name">
      </div>
      <!-- <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" class="form-input" placeholder="Enter the email">
      </div> -->
      <div class="form-group">
        <label for="college" class="form-label">College Name</label>
        <input type="text" id="college" value='<%= result.college %>' name="college" class="form-input" placeholder="Enter the college name">
      </div>
      <div class="form-group-inline">
        <div class="form-group">
          <label for="status" class="form-label">Status</label>
          <select id="status" class="form-select" name="placement_status">
            <option value="" selected disabled><%= result.placement_status %></option>
            <%if(result.placement_status=='placed'){%>
              
              <option value="not-placed">Not Placed</option>
              
              <%}else{%>
                <option value="placed">Placed</option>
                
              <%}%>
            
            
          </select>
        </div>
        <div class="form-group">
          <label for="batch" class="form-label">Batch</label>
          <input type="text" id="batch" value='<%= result.batch %>' name="batch" class="form-input" placeholder="Enter the batch">
        </div>
      </div>
      <div class="form-group-inline">
        <div class="form-group">
          <label for="dsa-score" class="form-label">DSA Final Score</label>
          <input type="text" id="dsa-score" value='<%= result.dsa_score %>' name="dsa_score" class="form-input form-input-small" placeholder="DSA">
        </div>
        <div class="form-group">
          <label for="webd-score" class="form-label">WebD Final Score</label>
          <input type="text" id="webd-score" value='<%= result.webd_score %>' name="webd_score" class="form-input form-input-small" placeholder="WebD">
        </div>
        <div class="form-group">
          <label for="react-score" class="form-label">React Final Score</label>
          <input type="text" id="react-score" value='<%= result.react_score %>' name="react_score" class="form-input form-input-small" placeholder="React">
        </div>
      </div>
      <button type="submit" class="form-button">Submit</button>
    </form>
  </div>
</body>
</html>
