<!DOCTYPE html>
<html>
<head>
  <title>Student Card</title>
  <link rel="stylesheet" href="/css/studentDetails.css">
</head>
<body>
  <div class="container">
    <div class="card-bg">
      <div class="card">
        <div class="card-header">Student Details</div>
        <div class="card-content">
          <span class="card-label">Name:</span>
          <span class="card-value" id="name"><%=result.name%></span>
        </div>
        <div class="card-content">
          <span class="card-label">Email:</span>
          <span class="card-value" id="email"><%=result.email%></span>
        </div>
        <div class="card-content">
          <span class="card-label">College:</span>
          <span class="card-value" id="college"><%=result.college%></span>
        </div>
        <div class="card-content">
          <span class="card-label">Status:</span>
          <span class="card-value" id="status"><%=result.placement_status%></span>
        </div>
        <div class="card-content">
          <span class="card-label">Batch:</span>
          <span class="card-value" id="batch"><%=result.batch%></span>
        </div>
        <div class="card-content">
          <span class="card-label">DSA Final Score:</span>
          <span class="card-value" id="dsa-score"><span class="score"><%=result.dsa_score%></span></span>
        </div>
        <div class="card-content">
          <span class="card-label">WebD Final Score:</span>
          <span class="card-value" id="webd-score"><span class="score"><%=result.webd_score%></span></span>
        </div>
        <div class="card-content">
          <span class="card-label">React Final Score:</span>
          <span class="card-value" id="react-score"><span class="score"><%=result.react_score%></span></span>
        </div>
        <div class="card-buttons">
         <a href="editStudent/<%= result.id %>"> <button class="edit-button">Edit</button></a>
        <a href="../deleteStudent/<%= result.id %>"><button class="delete-button">Delete</button></a>
        </div>
      </div>
    </div>
    <table>
      <caption class="table-heading">Interview Details</caption>
      <thead>
        <tr>
          <th>Company</th>
          <th>Date</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody>
        <% for(a of interview){%>
          <tr>
            <td><%=a.company.company_name%></td>
            <td><%=a.company.interview_date%></td>
            <td><%=a.result%></td>
          </tr>
          
        <%}%>
        
        
      </tbody>
    </table>
  </div>
</body>
</html>
